<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
 
  <title>Mercury Configurator</title>
</head>
<body>
  
   
          <div id="content" class="columns"><!-- React --></div>

          


          
  
</body>
{% load static %}
<script src="{% static "./frontend/main.js" %}"></script>
<link rel="stylesheet" type="text/css" href ="{% static "frontend/screen.css" %}"/>
<link rel="shortcut icon" href="{%static "frontend/mercury_Ekg_icon.ico" %}" type="image/x-icon" />
<link rel="stylesheet" href="{%static "frontend/css/bootstrap.min.css" %}" />
</html>